@model OnlineBookShoppingApp.Models.OrderHeader

<h1 class="text-danger ">Details</h1>



<p>Name: @Model.Name</p>
<p>OrderDate: @Model.OrderDate</p>
<p>OrderStatus: @Model.OrderStatus</p>
<p> PaymentStatus: @Model.PaymentStatus</p>
<p>PaymentDate: @Model.PaymentDate</p>
<p>StreetAddress: @Model.StreetAddress</p>
<p>City: @Model.City</p>
<p>state: @Model.state</p>
<p>PhoneNumber: @Model.PhoneNumber</p>
     
            

    
@Html.ActionLink("Back To List","Index")


