@model OnlineBookShoppingApp.Models.ViewModels.ProductVM
@{
    ViewData["Title"] = "Upsert";
    var title = Model.Product.Id != 0 ? "Edit Product" : "New Product";
}

<div class="row">
    <h2 class="text-dark ">@title</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger "></div>
            @if (Model.Product.Id != 0)
            {
                <input type="hidden" asp-for="@Model.Product.Id" />
            }

            <div class="form-group ">
                <label asp-for="Product.Title"></label>
                <input asp-for="Product.Title" class="form-control" />
                <span asp-validation-for="Product.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.ISBN"></label>
                <input asp-for="Product.ISBN" class="form-control" />
                <span asp-validation-for="Product.ISBN" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.Description"></label>
                <textarea asp-for="Product.Description" class="form-control"></textarea>
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.Author"></label>
                <input asp-for="Product.Author" class="form-control" />
                <span asp-validation-for="Product.Author" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.ListPrice"></label>
                <input asp-for="Product.ListPrice" class="form-control" />
                <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.Price"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.price50"></label>
                <input asp-for="Product.price50" class="form-control" />
                <span asp-validation-for="Product.price50" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.price100"></label>
                <input asp-for="Product.price100" class="form-control" />
                <span asp-validation-for="Product.price100" class="text-danger"></span>
            </div>

            @*<div class="form-group">
            <label asp-for="Product.price100"></label>
            <input asp-for="Product.price100" class="form-control" />
            <span asp-validation-for="Product.price100" class="text-danger"></span>
            </div>
            *@
            <div class="form-group">
                <label asp-for="Product.CategoryId"></label>
                @Html.DropDownListFor(m=>m.Product.CategoryId, Model.CategoryList,"Select Category", new{@class="form-control"})
                <span asp-validation-for="Product.CoverTypeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.CoverTypeId"></label>
                @Html.DropDownListFor(m=>m.Product.CoverTypeId, Model.CoverTypeList,"Select Category", new{@class="form-control"})
                <span asp-validation-for="Product.CoverTypeId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.ImageUrl"></label>
                <input type="file" name="files" id="uploadBox" multiple class="form-control" />
            </div>

            <div class="form-group p-2 m-2">
                @if (Model.Product.Id != 0)
                {
                    <partial name="_EditAndBackToListButton" />
                }
                else
                {
                    <div class="row">
                        <div class="col">
                            <button input type="submit" onclick="return ValData()" class="btn btn-info form-control">
                                Create
                            </button>

                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success form-control">
                                Back To List
                            </a>
                        </div>
                    </div>
                }
            </div>

        </form>
    </div>

    <div class="col-md-4 p-1 m-1">
        @if (Model.Product.Id != 0)
        {
            <img src="@Model.Product.ImageUrl" />
        }

    </div>
</div>
@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.tiny.cloud/1/no-origin/tinymce/5.10.5-131/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: "textarea",
            plugins: "lists",
            menubar: "file edit format"
        })
        function ValData() {
            if (document.getElementById('uploadBox').value == "") {
                swal("Error", "Please select image !!!", "error");
                return false;
            }
        }
    </script>
}

